// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Styles for Kochbuch
/****************************************
Reset der Default-Einstellung vom Browser
****************************************/
* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/****************************************
Allgemeine Einstellungen
****************************************/
.center {
  text-align: center;
}

body {
  background-color: $white;
  font-family: Garamond, Georgia, serif;
  font-variant: normal;
  text-align: justify;
  line-height: 1;
  color: $black;
}

h1,
h2 {
  font-weight: bolder;
  text-shadow: 3px 3px 10px $grey;
  /*padding: 40px 0 20px 0;*/
}

/*h1,
h2,
h3 {
  padding: 20px 10px 0 10px;
}*/

h1 {
  font-size: 2.5em;
  color: $red;
}

h2 {
  font-size: 1.75em;
}

h3,
h4 {

  text-align: left;
  font-weight: bold;

}

h3 {
  font-size: 1.25em;
}

#special {
  font-size: 2.5em;
  font-family: 'Oleo Script Swash Caps', cursive;
  text-shadow: -1px -1px 1px $black;
  color: $red;
}

p {
  padding: 20px 10px;
}

.untertitel {
  font-size: 75%;
  padding: 0;
}

.beschreibung { /*für Formulare*/
  padding: 0;
}

.waehrung, .mengeneinheit {
  padding: 10px;
  margin: 0;
}


q {
  font-family: 'Oleo Script Swash Caps', cursive;
  text-align: center;
  padding: 20px;
  display: block;
  color: $red;
  quotes: none;
  font-size: 1.5em;
}


/****************************************
Header
****************************************/
header,
figure {
  height: 215px;
  overflow: hidden;
}

#img-header-background {
  width: 100%;
  position: relative;
  z-index: 1;
}

#img-header-background-large {
  width: 100%;
  position: relative;
  display: none;
}

@media only screen and (min-width: 700px) {
  #img-header-background {
    display: none;
  }
  #img-header-background-large {
    display: inline-block;
    z-index: 1;
  }
}

.koch {
  height: 150px;
  width: auto;
  position: absolute;
  top: 65px;
  right: 0;
  z-index: 2;
}

.augen_offen {
  display: none;
}

/*https://www.tutorialrepublic.com/faq/how-to-change-image-on-hover-with-css.php*/
.koch_animation:hover .augen_offen {
  display: inline;
}

#header-ueberschrift {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.75em;
  font-weight: bold;
  color: $white;
  text-align: center;
  text-shadow: 0 0 10px $darkred;
  /*Schriftart Umriss https://www.html-seminar.de/outline-schrift-ueber-text-shadow.htm */
  position: absolute;
  z-index: 3;
  /*Zentriert Text in der Mitte von der Seite:
  https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element */
  top: 115px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/****************************************
Navbar
****************************************/
nav {
  background: linear-gradient(to bottom, $blue 38%, $midnightblue 84%);
  top: -5px;
  width: 100%;
}


nav li {
  display: inline-block;
  margin: 5px 1%;
  text-decoration: none;
}

.a_nav {
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 1px;
  word-spacing: 2px;
  white-space: nowrap; /*kein Zeilenumbruch erlaubt */
}

/****************************************
Main
****************************************/

main {
  position: relative;
  max-width: 100%;
  padding-bottom: 30px;
}

section {
  padding-top: 20px;
}

aside {
  margin: 20px;
  border: 2px $black dashed;
  border-radius: 20px;
  padding: 5px;
}

aside.row {
  margin: 10px 20px;
}

aside p {
  padding-top: 10px;
}


#anwendungsfall h4 {
  display: inline;
}

#anwendungsfall .row {
  margin: 10px 20px;
}

#anwendungsfall p {
  display: inline;
}

#anwendungsfall section {
  padding: 20px 10px;
}

em {
  font-style: italic;
  letter-spacing: 2px;
}

/****************************************
Grid
****************************************/

.row {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

/****************************************
Forms
****************************************/

label {
  padding: 20px 10px 0 0;
}

label.form-check-label {
  padding: 0 10px;
}

input.form-check-input {
  position: static;
  margin-left: 0;
}

/****************************************
Table
****************************************/
table {
  margin: auto; /* margin: auto; zentriert Tabelle */
  border: 1px $lightgrey solid;
}

.table td {
  vertical-align: baseline;
}

#hauptfunktionalitäten div {
  padding: 0;
}


.tbl_hauptfunktionen td p {
  font-size: 80%;
  padding: 0 10px 0 10px;
  border: none;
}

.thead_orangered {
  /*  https://medium.com/@nsembo/getting-invalid-property-value-error-while-using-linear-gradient-heres-a-simple-fix-ec301effc897*/
  background: linear-gradient(top, $orange, $darkorange);
  background: -webkit-linear-gradient($orange, $darkorange);
  border: solid 1px $grey;
  box-shadow: 2px 2px 3px $grey;
  -webkit-box-shadow: 2px 2px 3px $grey;
  color: $white;
  font-weight: bold;
}

/****************************************
Background Formatting
****************************************/
.background2ndTR tr:nth-child(2n+1) {
  /*Jedes 2. Element wird formatiert
  https://developer.mozilla.org/de/docs/Web/CSS/:nth-child*/
  background-color: $lightyellow;
}

.background4thTR tr:nth-child(4n+1) {
  /*Jedes 2. Element wird formatiert
  https://developer.mozilla.org/de/docs/Web/CSS/:nth-child*/
  background-color: $lightyellow;
}

.background {
  background-color: $lightyellow;
}

.background2ndSection section:nth-child(2n+1) {
  /*Jedes 2. Element wird formatiert
  https://developer.mozilla.org/de/docs/Web/CSS/:nth-child*/
  background-color: $lightyellow;
}

.pagination{
  background-color: white;
}

/****************************************
Anchor Elements
****************************************/
/*https://www.w3schools.com/css/css_link.asp*/
a {
  color: $orange;
}

a:visited {
  color: $darkred;
}

a:hover {
  color: $yellow;
}

a:active {
  color: $red;
}

.a_noformat {
  text-decoration: none;
  color: $black;
  font-size: 1em;
}

.a_noformat:visited {
  color: $black;
}

a i:hover {
  color: $darkred;
}


i {
  font-size: 2em;
}

.i_dot {
  padding: 10px;
  border: 1px solid $lightyellow;
  border-radius: 100px;
  background-color: $yellow;
  margin-bottom: 10px;
}

/****************************************
Buttons
****************************************/
.btn_i {
  font-size: 1em;
}

button {
  font-size: 120%;
  font-weight: bold;
  padding: 4px 4px;
  margin: 0 5px;
}

.normalbtn {
  box-shadow: 0 1px 0 0 #fff6af;
  background: linear-gradient(to bottom, $lightyellow 5%, $yellow);
  border-radius: 6px;
  border: 1px solid $yellow;
  display: inline-block;
  cursor: pointer;
  color: $black;
  text-shadow: 0 1px 0 #ffee66;
}

.normalbtn:hover {
  background: linear-gradient(to bottom, $yellow 5%, $lightyellow);
}

.normalbtn:active {
  position: relative;
  top: 1px;
}

.finishbtn {
  box-shadow: 0 1px 0 0 #a4e271;;
  background: linear-gradient(to top, $green 5%, #77a809);
  border-radius: 6px;
  border: 1px solid $green;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 0 1px 0 #528009;;
}

.finishbtn:hover {
  background: linear-gradient(to top, #77a809 5%, $green);
}

.finishbtn:active {
  position: relative;
  top: 1px;
}


.abortbtn {
  box-shadow: 0 1px 0 0 #8a2a21;
  background: linear-gradient(to top, $darkred 5%, #f24437);
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 0 1px 0 #810e05;
}

.abortbtn:hover {
  background: linear-gradient(to top, #f24437 5%, $darkred);
}

.abortbtn:active {
  position: relative;
  top: 1px;
}


.bluebtn {
  box-shadow: 0 1px 0 0 #bbdaf7;
  background: linear-gradient(to top, $blue 5%, #2d2dd2);
  border-radius: 6px;
  border: 1px solid $midnightblue;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 0 1px 0 #2d2dd2;
}

.bluebtn:hover {
  background: linear-gradient(to top, #2d2dd2 5%, $blue);
}

.bluebtn:active {
  position: relative;
  top: 1px;
}


/****************************************
Footer
******************************************/
footer {
  text-align: left;
  background: linear-gradient(to bottom, $grey 5%, $lightgrey 100%);
  /*https://www.bestcssbuttongenerator.com/*/
  padding: 5px;
}

footer a {
  font-size: 1em;
  padding: 0 5px;
}
