/****************************************
Reset der Default-Einstellung vom Browser
****************************************/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/****************************************
Allgemeine Einstellungen
****************************************/
.center {
    text-align: center;
}

body {
    background-color: white;
    font-family: Garamond, Georgia, serif;
    font-variant: normal;
    text-align: justify;
    line-height: 1;
    color: black;
}

a {
    color: orangered;
}
/*https://www.w3schools.com/css/css_link.asp*/
a:visited{
    color: darkred;
}

a:hover {
    color: orange;
}

a:active{
    color: red;
}

/* TODO a:visited https://wiki.selfhtml.org/wiki/CSS/Selektoren/Pseudoklasse/any-link,_link,_visited
a i -> visited, hover
nav a -> hover visited
*/

.a_noformat {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

a i {
    font-size: 1.25em;
    margin-top: 10px;
}

.a_noformat:visited{
    color: black;
}

a i:hover{
    color: darkred;
}

i {
    font-size: 2em;
}

.i_dot {
    padding: 10px;
    border: 1px solid rgb(252, 232, 175);
    border-radius: 100px;
    background-color: orange;
    margin-bottom: 10px;
}

h1,
h2 {
    font-weight: bolder;
    text-shadow: 3px 3px 10px grey;
    padding: 40px 0 20px 0;
}

h1,
h2,
h3 {
    padding: 20px 10px 0 10px;
}

h1 {
    font-size: 2.5em;
    color: red;
}

h2 {
    font-size: 1.75em;
}

h3,
h4 {

    text-align: left;
    font-weight: bold;

}

h3 {
    font-size: 1.25em;
}

p {
    padding: 20px 10px;
}

label{
    padding: 20px 10px 0 10px;
}
input{
    padding: 0 10px;
}

q {
    font-family: 'Oleo Script Swash Caps', cursive;
    text-align: center;
    padding: 20px;
    display: block;
    color: red;
    quotes: none;
    font-size: 1.5em;
}

/****************************************
Header
****************************************/
header,
figure {
    display: inline-block;
    height: 215px;
    overflow: hidden;
}

#img-header-background {
    width: 100%;
    position: relative;
    z-index: 1;
}

.koch {
    height: 150px;
    width: auto;
    position: absolute;
    top: 65px;
    right: 0;
    z-index: 2;
}

.augen_offen {
    display: none;
}

/*https://www.tutorialrepublic.com/faq/how-to-change-image-on-hover-with-css.php*/
.koch_animation:hover .augen_offen {
    display: inline;
}

#header-ueberschrift {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.75em;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 0 10px darkred;
    /*Schriftart Umriss https://www.html-seminar.de/outline-schrift-ueber-text-shadow.htm */
    position: absolute;
    z-index: 3;
    /*Zentriert Text in der Mitte von der Seite:
    https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element */
    top: 115px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/****************************************
Navbar
****************************************/
nav {
    background: linear-gradient(to bottom, rgba(22, 22, 105, 1) 38%, rgba(14, 26, 72, 1) 84%);
    top: -5px;
    width: 100%;
}


nav li{
    display: inline-blocK;
    margin: 5px 1%;
    text-decoration: none;
}

.a_nav {
    text-decoration: none;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 1px;
    word-spacing: 2px;
    white-space: nowrap; /*kein Zeilenumbruch erlaubt */
    /*border-bottom: 1px solid white; TODO lassen oder nicht?*/
}

/****************************************
Main
****************************************/

main {
    position: relative;
    max-width: 100%;
}

#willkommen {
    font-size: 2.5em;
    font-family: 'Oleo Script Swash Caps', cursive;
    text-shadow: -1px -1px 1px black;
    color: red;
}

section {
    padding-top: 20px;
}

aside {
    margin: 20px;
    border: 2px black dashed;
    border-radius: 20px;
    padding: 5px;
}

aside p {
    padding-top: 10px;
}


#anwendungsfall h4 {
    display: inline;
}

#anwendungsfall p {
    display: inline;
}

#anwendungsfall section {
    padding: 20px 10px;
}

em {
    font-style: italic;
    letter-spacing: 2px;
}

table {
    margin: auto;
    /* margin: auto; zentriert Tabelle */
}

.tbl_hauptfunktionen td p {
    font-size: 0.45em;
}

.thead_orangered{
    background: linear-gradient(top,  #FF4500,  #AA2A0A);
    background: -ms-linear-gradient(top,  #FF4500,  #AA2A0A);
    background: -webkit-gradient(linear, left top, left bottom, from(#FF4500), to(#AA2A0A));
    background: -moz-linear-gradient(top,  #FF4500,  #AA2A0A);
    border: solid 1px #6D6D6D;    box-shadow: 2px 2px 3px #666666;
    -webkit-box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666;
    color: white;
    font-weight: bold;
}
.background2ndTR tr:nth-child(2n+1) {
    /*Jedes 2. Element wird formatiert
    https://developer.mozilla.org/de/docs/Web/CSS/:nth-child*/
    background-color: rgb(252, 232, 175);
}

.background {
    background-color: rgb(252, 232, 175);
}

.background2ndSection section:nth-child(2n+1) {
    /*Jedes 2. Element wird formatiert
    https://developer.mozilla.org/de/docs/Web/CSS/:nth-child*/
    background-color: rgb(252, 232, 175);
}
/****************************************
Buttons
****************************************/
.normalbtn {
    box-shadow: 0 1px 0 0 #fff6af;
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family: Arial, serif;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0 1px 0 #ffee66;
}
.normalbtn:hover {
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
}
.normalbtn:active {
    position:relative;
    top:1px;
}

.finishbtn {
    box-shadow: 0 1px 0 0 #9acc85;
    background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    border-radius:6px;
    border:1px solid #3b6e22;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial, serif;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0 1px 0 #92b879;
}
.finishbtn:hover {
    background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
}
.finishbtn:active {
    position:relative;
    top:1px;
}


.abortbtn {
    box-shadow: 0 1px 0 0 #8a2a21;
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
     border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Arial, serif;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0 1px 0 #810e05;
}
.abortbtn:hover {
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  }
.abortbtn:active {
    position:relative;
    top:1px;
}



/****************************************
Footer
******************************************/
footer {
    text-align: left;
    background-color: lightgray;
    background: linear-gradient(to bottom, grey 5%, lightgrey 100%);
    /*https://www.bestcssbuttongenerator.com/*/
    padding: 5px;
}

footer a {
    font-size: 1em;
    padding: 0 5px;
}